* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Shantell Sans", cursive;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
ul,
li,
span {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: 100vh;
  background: url("./background.jpg");
  background-size: cover;
  background-repeat: repeat;
}

header {
  font-size: 1.7rem;
}

header,
form {
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*szerokość okienka tesktu do wpisywania*/
.todo-input {
  width: 90vh;
}

form input,
form button {
  padding: 0.5rem;
  font-size: 2rem;
  border: none;
  background: white;
}

.todo-input {
  outline: none;
}

form button {
  color: rgba(28, 28, 116, 0.404);
  background-color: white;
  cursor: pointer;
}

form button:hover {
  background-color: rgb(98, 98, 112);
  color: white;
}

.todo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-list {
  width: 90vh;
  list-style: none;
}

.todo {
  background-color: #fff;
  color: black;
  margin: 0.5rem;
  font-size: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.5s ease;
}

.todo li {
  flex: 1;
}

.complete-btn,
.trash-btn {
  background-color: rgba(28, 28, 116, 0.404);
  color: #fff;
  border: 1px solid;
  padding: 1rem;
  font-size: 1rem;
  cursor: pointer;
}

.trash-btn:hover {
  background-color: red;
  color: white;
}

.complete-btn:hover {
  background-color: green;
  color: white;
}

.todo-item {
  padding: 0rem 0.5rem;
}

.fa-trash,
.fa-check {
  pointer-events: none;
}

.completed {
  text-decoration: line-through;
  opacity: 0.5;
}
